*{
    padding: 1;
    margin: 1;
    box-sizing: border-box;
    outline: 1;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background-color: #1e1e1e;
}

a {
    text-decoration: none;
    color: #fff;
}

.theme-switch-wrapp {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    position: relative;
    
}

em {
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 8px;
    color: #fefefe;
    
  }

  .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  
}

.theme-switch input {
  display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.container {
    margin-top: -50px;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 33px;
    border-radius: 33px;
    
}

#display {
    margin: 0 10px;
    /* margin-left: 200px; */
    height: 70px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 5px;
    overflow-x: scroll;
  }

  #display1 {
    margin: 0 10px;
    color: #fefefe;
    height: 50px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 5px;
    overflow-x: scroll;
  }

#display2 {
  color: #71838b;
  font-size: 23px;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 25px;
    width: auto;
    max-width: 270px;
  
}

#display::-webkit-scrollbar {
    display: block;
    height: 1px;
}
#display1::-webkit-scrollbar {
  display: block;
  height: 1px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 60px;
}


/* light theme */

.calculator {
    background-color: #ffffff;
    
}

.calculator #display1 {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #dedede;
    color: #000;
}

.calculator.dark button#clear2 {
  background-color: #636060;
    color: #fefefe;
  }

.calculator button.btn-number {
    background-color: #0a1e23;
    color: #fefefe;
}


.calculator button.btn-operator {
    background-color: #FF8B13;
    color: #fefefe;
  }
  
  .calculator button.btn-equal {
    background-color: #dedede;
    color: #000;
  }

 /* dark theme */

 .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display1 {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #636060;
    color: #fefefe;
  }

  .calculator.dark button#clear2 {
    background-color: #636060;
    color: #fefefe;
  }

  .calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
  }

  .calculator.dark button.btn-operator {
    background-color: #FF8B13;
    color: #fefefe;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #636060;
    color: #fefefe;
  }
  